<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Destination</title>
</head>

<body>
  <form action="{% url 'logout' %}">
    {% csrf_token %}
    <input type="submit" value="Logout">
  </form>
  <form action="{% url 'dashboard' %}">
    {% csrf_token %}
    <input type="submit" value="Home">
  </form>
  {{ current_user.name }}
  <h1>{{ destination.name }}</h1>
  <h4>Planned By: {{ destination.name }}</h4>
  <h4>Destination: {{ destination.name }}</h4>
  <h4>Travel Date From: {{ destination.name }}</h4>
  <h4>Travel Date To: {{ destination.name }}</h4>
  <h1>Other users' joining the trip:</h1>
  <div>
    {% for buddy in buddies %}
    <p>{{ buddy.name }}</p>
    {% endfor %}
  </div>
</body>

</html>
