<!DOCTYPE html>
<html lang="en">
<head>
        <title>Document</title>
</head>
<body>
    <h5>Add a new book title and Review</h5>

    <form action="">
        Book Title: <input type="text" name="title" />
        Book Title: <input type="text" name="author" />


        Review: <textarea name="content"></textarea>
        Rating: <select name="rating">
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
    </form>
</body>
</html>