<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
</head>
<body>
    <p>Welcome ! {{ user.name }}</p>
    <a href="{% url 'create_book' %}">Add Book and Review</a>
    <p></p>
    <a href="{% url 'logout' %}">Logout</a>

    {% for book in books %}
        <p>{{ book.title }}</p>
        <p>{{ book.author }}</p>
        {% for review in book.reviews.all %}
            <p>{{ review.rating }}</p>
            <p>{{ review.content }}</p>
        {% endfor %}
    
    {% endfor %}
</body>
</html>