<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Users</title>
  </head>
  <body>
    <h1>All Authors</h1>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Works</th>
          <th>Created At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td> {{ user.id }}</td>
          <td><a href="{% url "show" id=user.id %}">{{ user.firstname }} {{ user.lastname }}</a></td>
          <td>{{ user.email }}</td>
          <td><a href="{% url "show_author_work" id=user.id %}">Works</a></td>
          <td>{{ user.created_at }}</td>
          <td>
            <a href="{% url "show" id=user.id %}">Show</a>
            <a href="{% url "edit" id=user.id %}">Edit</a>
            <a href="{% url "delete" id=user.id %}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <br>
    <a href="/new">Add Another User</a>
    <br>
    <a href="/works">View All Works</a>
  </body>
</html>
