.blue {
  color: rgb(42, 96, 183);
}

.green {
  color: rgb(37, 142, 45);
}

.pink {
  color: rgb(234, 89, 193);
}

.brown {
  color: rgb(81, 33, 14);
}

.black {
  color: black;
}
.regular {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.large {
  font-size: 24px;
}

.small {
  font-size: 12px;
}
