<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat Page</title>
  </head>
  <body>
    <h1>The ultimate profanities filter</h1>
    <form action="/process" method="post">
      {% csrf_token %}
      <label>Show me what you got:</label>
      <input type="textarea" name="user_input" value="">
      <input type="submit" value="Submit">
      <!-- <textarea name='comment'></textarea>
      <input type="text" name="" value=""> -->

    </form>
    {% for phrase in censored %}
      {% if phrase %}
        <p>You talk to your mother with that mouth? heres what that word should be: {{ phrase }}</p>
      {% endif %}
    {% endfor %}
    <form action="/reset" method="post">
      {% csrf_token %}
      <input type="submit" name="reset" value="RESET">
    </form>
    <form action="{% url 'landing' %}" method="post">
      {% csrf_token %}
      <input type="submit" name="login" value="login">
    </form>

  </body>
</html>
