<html>
<head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}"/>
</head>
<body>
    <!-- loop through all friends -->
    <h4>All Friends</h4>
    <table>
      {% if friends %}
      <thead>
        <tr>
          <th>Alias</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
          {% for friend in friends %}
            <tr>
              <td>{{friend.alias}}</td>
              <td>
                <a href="{% url 'user_profile' id=friend.id %}">view profile</a>
                <a href="{% url 'remove_friend' id=friend.id %}">Unfriend</a>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <p>"You don't have friends yet."</p>
        {% endif %}
      </tbody>

    </table>

    <!-- loop through everyone who isn't a current friend -->
    <h4>Other People</h4>
    <table>
      <thead>
        <tr>
          <th>Alias</th>
          <th>Action</th>
        </tr>
      </thead>
        {% for person in other_people %}
          <tr>
            <td><a href="{% url 'user_profile' id=person.id %}">{{ person.alias }}</a></td>
            <td><a href="{% url 'add_friend' id=person.id %}"><button>Add as a friend</button></a></td>
          </tr>
        {% endfor %}
    </table>
    <a href="{% url 'logout' %}">LOGOUT</a>

  </form>
</body>
</html>
